﻿@inject UserManager<ApplicationUser> UserManager
@model ClientCommentViewModel

<div class="card px-3 align-left col-12">
    <div class="panel-item p-4 d-flex align-items-start">
        <div class="card-img pr-3">
            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7" style="text-align:right">
                @Model.Date.ToString("MM.dd")

            </h4>
            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7" style="text-align:right">
                @Model.Date.ToString("yyyy")

            </h4>
            <h4 class="  mbr-fonts-style display-7" style="text-align:right">
                [@Model.Date.ToString("HH:mm")]
            </h4>
        </div>

        <div class="card-text">

            <table style="width:250px">
                <tr>
                    <td>
                        <h3 class="img-text d-flex ">
                            @Model.Author
                        </h3>
                    </td>
                    <td style="text-align:right">
                        @if (User.IsInRole("Moderator"))
                        {
                            <span style="width:100px;font-size:1.2rem" class="moderation-edit-link">
                                <a href="#" class="btn btn-primary">
                                    Edit
                                </a>
                            </span>
                        }
                    </td>
                </tr>
            </table>
            <div class="client-comment-returned-text">
                <div class="moderation-edit-paragraph">
                    <p class="mbr-content-text mbr-fonts-style display-7">
                        @Model.Text
                    </p>
                    @if (!string.IsNullOrEmpty(Model.ModerationReason) || !string.IsNullOrEmpty(Model.ModerationAuthor))
                    {
                        <p style="color:red">
                            Moderated
                            @if (!string.IsNullOrEmpty(Model.ModerationReason))
                            {
                                <span> for @Model.ModerationReason</span>
                            }

                            @if (!string.IsNullOrEmpty(Model.ModerationAuthor))
                            {
                                <span> by  @Model.ModerationAuthor</span>
                            }
                            <span> on @Model.ModerationDate.ToString("dd.MM.yyyy")</span>
                        </p>
                    }
                </div>
                <div class="moderation-edit-form" style="background-color:#bdbdbd">
                    <form method="post" class="mbr-form form-with-styler" data-form-title="Mobirise Form">
                        @*<label asp-for="Text"></label>*@
                        <textarea rows="3" cols="60" style="width:100%;margin:0;text-align:left;opacity:1;display:block!important" name="text" class="client-comment-input" value=@Model.Text.Trim() ></textarea>
                        <input type="hidden" value="@Model.Id" name="id" />
                        <input type="hidden" name="page" value=@Model.Page>
                        <table style="width:100%">
                            <tr>
                                <td style="padding:5px;padding-top:0">
                                    @if (ViewBag.ModerationReasons != null && ViewBag.ModerationReasons.Count > 0)
                                    {
                                        <div>
                                            @foreach (var item in ViewBag.ModerationReasons)
                                            {
                                                <span style="display:block">
                                                    <input type="radio"
                                                           name="moderation"
                                                           @if (Model.ModerationReason == item.Name) { <text> checked="checked" </text> }
                                                           value=@item.Id /> @item.Name
                                                    </span>

                                                }
                                        </div>
                                    }
                                </td>
                                <td style="width:100px;padding-right:5px">
                                    <button type="submit"
                                            formmethod="post"
                                            asp-controller="Comment"
                                            asp-action="EditComment"
                                            class="btn btn-primary"
                                            style="
                                                /*border-radius:4px;
                                                border:1px solid #149dcc!important;
                                                background-color:white!important;
                                                color:#149dcc!important;
                                                float:right;
                                                margin-right:3.5vw*/">
                                        &nbsp;Ok&nbsp;&nbsp;
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
