﻿@inject UserManager<ApplicationUser> UserManager
@model ClientCommentViewModel
<div class="card px-3 align-left col-12">
    @if (!User.IsInRole("Moderator"))
    {
    <div class="panel-item p-4 d-flex align-items-start" style="background-color:#bdbdbd;padding:2px;border-radius:4px">

        <form method="post" class="mbr-form form-with-styler" data-form-title="Mobirise Form" id="client-comment-form">
            <div class="card-text">
                <label asp-for="Text"></label>
                <textarea rows="5" cols="60" style="width:100%" name="Text" class="client-comment-input" id="client-comment-text" value=@Model.Text></textarea>
                <span asp-validation-for="Text" style="color:red"></span>
            </div>
            <div class="dragArea row">
                <div class="col-md-12  form-group">
                    <label asp-for="Author">Name</label>
                    <table style="width:100%">
                        <tr>
                            <td>
                                <input asp-for=@Model.Author class="form-control display-7 client-comment-input" name="Author" value=@Model.Author?.ToUpper() style="padding:7px" />
                                <input type="hidden" name="EstablishmentId" class="client-comment-input" value=@Model.EstablishmentId id="client-comment-establishmentId">
                                @*<input type="hidden" name="IsModerated" class="client-comment-input" value=@Model.IsModerarted id="client-comment-ismoderated">*@
                            </td>
                            <td style="width:100px">
                                <button type="submit"
                                        formmethod="post"
                                        asp-area=""
                                        asp-controller="Establishment"
                                        asp-action="AddComment"
                                        id="client-comment-form"
                                        class="btn btn-primary btn-form display-4"
                                        style="height:34px;
                                                width:100px;
                                                float:right">
                                    Comment
                                </button>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </form>
    </div>
    }
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}