﻿@model CreateLogbookViewModel
@{
    ViewData["Title"] = "UpdateLogbook";
}


<section class="mbr-section form1 cid-rrvJasU7AL" id="form1-9">


    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" style="background-color:lightgray">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    UPDATE LOGBOOK
                </h2>
                <h4 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    <a href="/Admin/CreateEstablishment/Created/@Model.EstablishmentId">
                        @Model.EstablishmentName
                            </a>
</h4>
                <h5 class="align-center pb-3 mbr-fonts-style ">
@Model.EstablishmentAddress
                </h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid" style="background-color:lightgray">

                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" >
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="dragArea row">
                        <div class="col-md-4  form-group">
                            <label asp-for="Name"></label>
                            <input asp-for=@Model.Name class="form-control" value=@Model.Name id="establishment-name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>


                        @if (Model.EntityUsers != null && Model.EntityUsers.Count > 0)
                        {
                            <div class="col-md-4  form-group">
                                <label asp-for="ManagersToLeave">Current Managers</label>

                                <div>
                                    @foreach (var m in Model.EntityUsers)
                                    {
                                        <span style="display:inline-block" id="existing-logbooks">
                                            <input type="checkbox" value=@m.Id name="ManagersToLeave"checked="checked" style="font-size:1.5rem;vertical-align:text-bottom" class="existing-logbooks" />
                                            <a href="/Admin/User/Details/@m.Id" style="font-size:1.5rem;">
                                                <b>
                                                    @m.UserName
                                                </b>
                                            </a>
                                        </span>
                                        <span>
                                            &nbsp
                                        </span>
                                    }
                                </div>
                            </div>
                        }
                        @if (ViewBag.Managers != null&&ViewBag.Managers.Count>0)
                        {
                            <div class="col-md-4  form-group">
                                <label asp-for="Managers">Add managers</label>
                                <div>
                                    <select  id="multiple-checkboxes8" multiple="multiple" name="Managers" size=1 style="width:100%;background-color:white">

                                        @foreach (var item in ViewBag.Managers)
                                        {
                                            <option value=@item.Id>@item.UserName</option>
                                        }
                                        
                                    </select>
                                </div>
                                <span asp-validation-for="Managers" class="text-danger"></span>
                            </div>
                        }
                        </div>                    
                    <div class="col-md-12 input-group-btn align-center" style="padding-bottom:20px;width:100%">
                        <button type="submit"
                                class="btn btn-primary btn-form display-4"
                                asp-area="Admin" asp-controller="Logbook"
                                asp-action="UpdateLogbook"
                                asp-route-id="@Model.Id" formmethod="post"
                                style="border-radius: 100px !important;
                                        padding: 1rem 3rem;
                                        margin: 2rem 0 .4rem 0;">
                                <span>Update</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}