﻿@model AllUsersViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "AdminPanel";
}
<section class="mbr-gallery mbr-slider-carousel cid-rriDTjL3TD" id="gallery1-5">

    <div style="text-align: center;align-items:center!important">
        <h3>User manager</h3>
        <div>
            @if (Model.UserModels.Count > 0)
            {
                if (!Model.UserModels.First().IsDeleted)
                {
                    <a href="/Admin/Home/DeletedUsers">Show deleted</a>
                }
                else
                {
                    <a href="/Admin/Home/AdminPanel">Back to users</a>
                }
                <table class="table table-striped" style="min-width:300px;width:100%">
                    <thead>
                        <tr>
                            <td style="width:20%"><b>Avatar</b></td>
                            <td style="width:15%"><b>UserName</b></td>
                            <td style="width:25%"><b>Email</b></td>
                            <td style="width:20%"><b>Role</b></td>
                            <td style="width:20%"><b>Delete</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.UserModels)
                        {

                            <tr>
                                <td><img src=@user.Avatar style="width:60px;height:60px;border-radius:50%" /></td>

                                <td style="vertical-align:middle;"><a href="/Admin/User/Details/@user.Id">@user.UserName</a></td>

                                <td style="vertical-align:middle;">@user.Email</td>
                                <td style="vertical-align:middle;">
                                    @user.Role
                                </td>

                                <td style="width:100px!important;vertical-align:middle;">
                                    @if (user.Role != "Admin")
                                    {
                                        @if (!Model.UserModels.First().IsDeleted)
                                        {
                                            using (Html.BeginForm("DeleteUser", "User", FormMethod.Post))
                                            {
                                                <input name="Id" value="@user.Id" hidden />
                                                <input type="submit" class="btn btn-primary" value="Delete" style="width:100px" />
                                            }
                                        }
                                        else
                                        {
                                            using (Html.BeginForm("UndeleteUser", "User", FormMethod.Post))
                                            {
                                                <input name="Id" value="@user.Id" hidden />
                                                <input type="submit" class="btn btn-primary" value="Restore" style="width:100px" />
                                            }
                                        }
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
            <div>
            <a href="previous.html" onClick="history.back();return false;">Back</a>
            <p>No users to show</p>
        </div>
            }
        </div>
    </div>
    <div style="background-color:grey">
        @await Html.PartialAsync("_PagingPartial", @Model.PagingModel)
    </div>
</section>



