﻿@model AllUsersViewModel
@{
    ViewData["Title"] = "AdminPanel";
}
<section class="mbr-gallery mbr-slider-carousel cid-rriDTjL3TD" id="gallery1-5">
    <h3>User manager</h3>
    <hr>
    @await Html.PartialAsync("/Views/Shared/_PagingPartial.cshtml", @Model.PagingModel)
    <div style="text-align: center;">
        <div style="display:inline-block">


            @if (Model.UserModels.Count > 0)
            {
                <table class="table table-striped" style="min-width:500px;width:100%">
                    <thead>
                        <tr>
                            <td style="width:20%"><b>UserName</b></td>
                            <td style="width:30%"><b>Email</b></td>
                            <td style="width:25%"><b>Current Roles</b></td>
                            <td colspan="3" style="width:25%"><b>New Roles</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.UserModels)
                        {

                            <tr style="vertical-align:middle;">

                                <td><a href="/Admin/User/Details/@user.Id">@user.UserName</a></td>

                                <td>@user.Email</td>
                                <td>
                                    @string.Join(" / ", user.Role)
                                </td>
                                @using (Html.BeginForm("ChangeRole", "User", FormMethod.Post))
                                {
                                    foreach (var item in Model.Roles)
                                    {
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio"
                                                           name="role"
                                                           value="@item"
                                                           @if (user.Role == item) { <text> checked="checked" </text> }
                                                           @if (user.IsLastAdmin && item == "Admin") { <text> disabled="disabled" </text> } /> @item

                                                    </label>
                                                </div>
                                            </td>
                                        }
                                        <td style="width:100px!important">
                                            <div class="form-group text-center">
                                                <input name="Id" value="@user.Id" hidden />
                                                <input type="submit" class="btn btn-primary" value="Submit" style="width:100px" />

                                            </div>
                                        </td>
                                    }
                                <td style="width:100px!important">
                                    @using (Html.BeginForm("DeleteUser", "User", FormMethod.Post))
                                    {
                                        <input name="Id" value="@user.Id" hidden />
                                        <input type="submit" class="btn btn-primary" value="Delete" style="width:100px" />
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                    <tr>
                        <td colspan="8" style="background-color:grey">
                            @await Html.PartialAsync("_PagingPartial", @Model.PagingModel)
                        </td>
                    </tr>
                </table>

            }
            else
            {
                <p>No users to show</p>
            }
        </div>

    </div>
</section>





