﻿
@{
    ViewData["Title"] = "Index1";
}
<section class="features8 cid-rss7M9ZU12 mbr-parallax-background" id="features8-4">

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="card  col-12 col-md-6 col-lg-4">
                <div class="card-img" style="position:relative">
                    <a href="/Home/Establishments/1">
                        <img src="../../../images/establishments/_index.jpg" alt="" title="" style="opacity:0.8" onmouseover="this.style.opacity=1" onmouseout="this.style.opacity=0.8">
                    </a>
                    <div class="link-img">
                        <div class="mbr-section-btn text-center" style="margin:0 auto">
                            <a href="/Home/Establishments/1" class="btn btn-primary display-4" style="width:200px">
                                List My Establishments
                            </a>
                        </div>
                        <div class="mbr-section-btn text-center"style="margin:0 auto">
                            <a href="/Admin/CreateEstablishment/CreateEstablishment" class="btn btn-primary display-4" style="width:200px">
                                Create New Establishment
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-box align-center">



                </div>
            </div>
            <div class="card  col-12 col-md-6 col-lg-4">
                <div class="card-img" style="position:relative">
                    <a href="/Admin/Home/AdminPanel/1">
                        <img src="../../../images/avatars/_index.jpg" alt="" title="" style="opacity:0.8" onmouseover="this.style.opacity=1" onmouseout="this.style.opacity=0.8">
                    </a>
                    <div class="link-img">
                        <div class="mbr-section-btn text-center" style="margin:0 auto">
                            <a href="/Admin/Home/AdminPanel/1" class="btn btn-primary display-4" style="width:200px">
                                List My Users
                            </a>
                        </div>
                        <div class="mbr-section-btn text-center" style="margin:0 auto">
                            <a href="/Admin/User/CreateUser" class="btn btn-primary display-4" style="width:200px;background-color:#149dcc">
                                Create New User
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-box align-center">

                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="mbr-gallery mbr-slider-carousel cid-rriDTjL3TD" id="gallery1-5">

        <div class="container">
            <div>
                <!-- Filter --><!-- Gallery -->
                <div class="mbr-gallery-row">
                    <div class="mbr-gallery-layout-default">
                        <div>
                            <div>
                                <div class="mbr-gallery-item mbr-gallery-item--p1" data-video-url="false" data-tags="Awesome" style="align-items:center">

                                    <div data-slide-to="0" data-toggle="modal">
                                        <a href="/Home/Establishments/1">
                                            <img src="../../../images/establishments/_default.jpg" alt="" title="">
                                            <span class="icon-focus"></span>
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Establishments</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="mbr-gallery-item mbr-gallery-item--p1" data-video-url="false" data-tags="Awesome">

                                    <div data-slide-to="0" data-toggle="modal">
                                        <a href="/Admin/Home/AdminPanel/1" )>
                                            <img src="../../../images/avatars/_default.jpg" alt="" title="">
                                            <span class="icon-focus"></span>
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">Users</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

