﻿@model AllLogbookViewModel
@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container">


        @foreach (var item in Model.logbookViewModelsWithEstablishments)
        {
            <div style="display:inline-block!important;vertical-align:top;justify-content:center">
                <div class="establishment-with-logbooks" style="height:@(Model.MaxLogbooksInEstablishment*4+7)rem">
                    @*<div class="establishment-with-logbooks-inner">
                        <img src="~/images/establishments/_default.jpg" class="establishment-with-logbooks-img" />
                    </div>*@
                    @*<div class="establishment-with-logbooks-inner">*@
                        <h2>@item.Key.Item1</h2>
                        @foreach (var logbook in item.Value)
                        {
                            <div style="text-align:center;opacity:1">
                                <a href="~/Logbook/Details/@logbook.Id" class="btn btn-primary" style="font-size:1.5rem">
                                    @logbook.Name
                                </a>
                            </div>
                        }
                    @*</div>*@

                    </div>

                </div>

        }

    </div>
</section>


