﻿
.paging a
{
   color:white;
   font-size:1.5rem;
}
.avatar {
    border-radius: 50%;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*rectangle image in circle*/
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden!important;
    border-radius: 50%;
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    /*centers the image*/
    height: 100%;
    width: auto;
}
/*rectangle image in circle*/



    #bigbox > nav > ul > li > table > tbody > tr > td > span > a {
    border-radius: 4px;
    background-color: lightgray;
    height: 2.2em;
    margin: 0.5em 0.1em !important;
    width: 12rem;
    border-radius: 4px;
    padding: 0.2rem 0;
}

.admin-menu .input-group-btn a {

}

    #establishment-search .cid-qTkzRZLJNu .btn {
        padding: 0;
    }

    #establishment-search .cid-qTkzRZLJNu .nav-item a {
        justify-content: inherit;
    }

#establishment-search input[type=checkbox]{
    overflow: hidden;
    width: 1.3rem;
    margin-left: 6.5rem;
}

#establishment-search td input {
    padding-left: 1em;
    width: 10em;
    overflow: hidden !important;
}

    #establishment-search td input[type=radio] {
        padding-left: 1em;
        width: 10em;
        overflow: hidden !important;
        margin-left: 20px
    }

input[type=checkbox], input[type=radio] {
    margin: 2px 0 0;
}

.multiselect-container {
}

#establishment-search li { 
float:left;
}

#establishment-search .multiselect-container > li > a > label {
    padding: 0 0 1rem 0;
    margin-left:1rem;
    width: 9em;
    overflow: hidden !important;
}

#establishment-search  label {
    padding: 0 0 1rem 0;
    margin-left: 1rem;
    width: 9em;
    overflow: hidden !important;
}

#establishment-search .multiselect-container > li > a {
    position: relative;
    left: -.5em;
    padding: 0 0.1rem;
    overflow: hidden !important;
    margin: 0;
    margin-left: 1rem;
    width: 9.5em;
}

#establishment-search .dropdown-menu{
    max-width:5rem;
    margin:0;
}


.dropdown-menu li {
    /*line-height: 1;*/
    padding: 0;
    margin: 0
}

.dropdown-menu  a {

}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: grey;
}

.navbar-right>li> a:hover{
    background-color:transparent;
    color:white;
    border-radius:4px
}

.navbar-right > li > button {
    background-color: transparent;
    color: #149dcc;
    font-size:inherit;
    text-decoration:none;
}

 .navbar-right > li > a {
    background-color: transparent;
    color: #149dcc;
    font-size: inherit;
    text-decoration: none;
    font-family: inherit;
}

#logoutForm > ul > li > a {
    text-align: right;
    float: right;;
    margin: 0;
    line-height: 1.5;
    background-color: transparent;
    color: #149dcc;
    text-decoration: none;
    border: 0;
    padding: 0.1rem .4rem;
}
#logoutForm > ul > li > button {
    text-align: right;
    float: right;
    margin: 0;
    margin-right: 1rem;
    line-height: 1.5;
    background-color: transparent;
    color: #149dcc;
    text-decoration: none;
    border: 0;
    padding: 0.1rem .4rem;
}

#logoutForm > ul > li:nth-child(1) > a:hover {
    background-color: transparent;
    color: white;
}
.navbar-right > li > a:hover, button:hover {
    background-color: transparent;
    color: white;
    text-decoration: none;
}

#logoutForm > ul > li:nth-child(2) > button:hover{
    background-color: transparent;
    color: white;
    text-decoration: none;
    border:0;
    
}




#establishment-search button.btn.btn-default {
    
    height: 2.2em;
    margin: 0.5em 0.1em;
    width: 10rem;
}

#client-search-submit-outer {
    padding: 0;
    margin: 0;
}

#client-search-submit {
    background-color: lightgray;
    border-radius: 3px;
    width: 3em !important;
    height: 2.2em;
    padding: 0;
}

#manager-search-submit-outer {
    padding: 0;
    margin: 0;
}

#manager-search-submit {
    border-radius: 3px;
    width: 3em !important;
    height: 2.2em;
    padding: 0;
    background-color:lightgrey;
    margin-left:0.1em
}

  .caret {
        display: none
    }

    #client-search-submit-icon {
        padding: 0;
        margin-bottom: 0.1em;
    }

    #establishment-search .btn-group > .btn:first-child {
        margin: 0 0.1em;
    }

    #search-pattern {
        height: 2.2em;
        border: 0;
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0 0.1em;
        padding: 0;
    }

    #establishment-search td {
        vertical-align: middle;
    }


#bigbox {
    padding-top: 1em;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #2e2e2e;
}


#box-1 {
    background-color: transparent;
    float: left;
}

#box-2 {
    background-color: transparent;
}

#box-3 {
    background-color: transparent;
    float: right !important;
}

.nav {
    background-color: transparent;
    position: relative;
    display: inline-block;
    z-index:10;
}

.nav-list {
}

.nav-item {
    float: left;
    *display: inline;
    zoom: 1;
}

    .nav-item a {
        display: block;
        padding: 15px 20px;
    }

    .nav-item:first-child a {
        /*border-radius: 5px 0 0 5px;*/
    }

    .nav-item:last-child a {
        /*border-radius: 0 5px 5px 0;*/
    }

    .nav-item a:hover {
        background: #2C3E50;
    }

.cid-rriDTjL3TD {
    padding-top:0;
    padding-bottom:0;
}

.welcome{
    transition:linear 2s;
    z-index:9
}

#search-list {
    transition: opacity 1s;
}

.glyphicon glyphicon-user {
    float: right
}
#form1-9 > div > div > div > form > div > div > div > div {
    width: 100%;
}
    #form1-9 > div > div > div > form > div > div > div > div > button {
        width: 100%;
        background-color: #f5f5f5;
        height:33px;
        padding: 0;
        margin: 0;
    }

#form1-9 > div > div > div > form > div > div.col-md-8.form-group > div > table > tbody > tr > td > div > div > button {
    margin: 0;
}
#form1-9 > div > div > div > form > div > div.col-md-8.form-group > div > table > tbody > tr > td > div > div {
    width: 100%;
    background-color: #f5f5f5;
    height: 33px;
    padding: 0;
    margin: 0;
}

.btn-group > .btn {
    margin: auto;
    background-color: gray;
    color: white;
    /*border: 1px solid grey;*/
    width: 130px
}
.btn-group > button.btn:hover {
    background-color: lightgrey;
    color:black;
    border: 2px solid lightblue;
    /*border: 1px solid grey;*/
}

.link-img {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    /*font-size:1rem;
    font-weight:500;
    background-color:white;
    letter-spacing:1px;
    padding:.4rem*/
}
.m-auto{
    margin-top:0;
}
.moderation-edit-form {
    display: none
}
.comment-edit-form {
    display: none
}
input[type=date] {
    /*pointer-events: none !important;*/
    line-height: 1;
    height: 2.2em;
    width: 9rem;
    margin: 0 0.1em;
    border:0;
    border-radius:3px
}
input::-webkit-calendar-picker-indicator {
    /*display: none;*/
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}


#managerCommnet-search > table > tbody > tr > td > div > div > button {
    height: 2.2em;
    width: 12rem;
    margin: 0 0.1em;
}

#managerCommnet-search li {
    float: left;
}

#managerCommnet-search .multiselect-container > li > a > label {
    padding: 0 0 1rem 0;
    margin-left: 1rem;
    width: 9em;
    overflow: hidden !important;
}

#managerCommnet-search label {
    padding: 0 0 1rem 0;
    margin-left: 1rem;
    width: 9em;
    overflow: hidden !important;
}

#managerCommnet-search .multiselect-container > li > a {
    position: relative;
    left: -.5em;
    padding: 0 0.1rem;
    /*overflow: hidden !important;*/
    margin: 0;
    margin-left: 1rem;
    width: 9.5em;
}

#managerCommnet-search .dropdown-menu {
    max-width: 5rem;
    margin: 0;
}


#step1-c > div > div > table > tbody > tr:nth-child(2) > td:nth-child(1) > form > table > tbody > tr:nth-child(2) > td:nth-child(1) > div > button{
    width:130px;
    background-color:lightgrey;
    color:black

}

input[type=checkbox].form-check-input {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
}

img.comment-image {
    width: 150px
}
#ImageModel_FormImage {
    padding: 7px;
    width: calc(100%-100px);
    color: white!important;
}



#show-comments > div > div > div.col-md-9 > table > tbody > tr:nth-child(1) > td > div {
    background-color: lavender;
    display: block;
    font-weight: 100;
    /*border: 1px solid lightgrey;*/
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-top: 10px
}

.comment-box {
    background-color: white;
    border: 15px solid #cacaca;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px
}
button.btn.btn-primary.edit-comment-button1{
    border-top-right-radius:0;
    border-bottom-right-radius:0
}
.establishment-with-logbooks {
    display:block;
    background-color:grey;
    color:white;
    margin:10px;
    padding:2rem;
    /*width:20rem;*/
    border-radius:4px;
    text-align:center;
    position:relative;
    overflow:hidden!important;
    text-align:center;
}
.establishment-with-logbooks-inner {
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align:center;
}
#form1-9 > div:nth-child(2) > div > div > form > div.dragArea.row > div > div > div > button{
    color:black
}
#create-establishment-form > div > div.col-md-4.form-group > div > div > button {
    color: black
}

#client-comment-display > div > div > div > div.card-text > div > div.moderation-edit-form > form > table > tbody > tr > td:nth-child(2) > button {
    border-radius: 4px;
    border: 1.5px solid #149dcc !important;
    font-weight:700;
    background-color: white !important;
    color: #149dcc !important;
    float: right;
    margin-right: 3.5vw;
}

    #client-comment-display > div > div > div > div.card-text > div > div.moderation-edit-form > form > table > tbody > tr > td:nth-child(2) > button:hover {
        border-radius: 4px;
        border:0 !important;
        background-color: #149dcc !important;
        font-weight: 400;
        color: white !important;
        float: right;
        margin-right: 3.5vw;
    }

/*.establishment-with-logbooks-img img {
    opacity: 0.5;
    height: 100%;
    width: auto;
}
.establishment-with-logbooks-img img:hover{
    opacity: 1;
}
div.establishment-with-logbooks-inner:hover {

    opacity: 1;
}*/