﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}


        <section class="mbr-section form1 cid-rrvJasU7AL" id="form1-9">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="media-container-column col-lg-8" data-form-type="formoid" style="background-color:lightgray">

                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="mbr-form form-with-styler" data-form-title="Mobirise Form">
                            <div class="col-md-12 input-group-btn align-center" style="padding:10px 0;color:white">
                                <h2>@ViewData["Title"]</h2>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="col-md-6  form-group">
                                <label asp-for="UserName"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6  form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-md-6  form-group">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 input-group-btn align-center">
                                <button type="submit" class="btn btn-primary btn-form display-4">Log in</button>
                            </div>
                            <div class="col-md-6  form-group">
                                <p>
                                    <a asp-action="ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                                </p>
                            </div>
                        </form>



                    </div>
                </div>
            </div>
</section>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
