﻿@model EstablishmentViewModel

@{
    ViewData["Title"] = "Details";
}

<section class="counters4 counters cid-rrwAGhAbUG" id="counters4-a" style="margin-top:-5px">


    <div class="container pt-4 mt-2">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">@Model.Name</h2>
        <h3 class="mbr-section-subtitle pb-5 align-center mbr-fonts-style display-5">
            @Model.City, @Model.Street
        </h3>
        <div class="media-container-row">
            <div class="media-block m-auto" style="width: 49%;vertical-align:top">
                <div class="mbr-figure">
                    <img src=@Model.Image style="vertical-align:top">
                </div>
            </div>
            <div class="cards-block" style="max-width:380px">
                <div class="cards-container">
                    <div id="client-comment-form-display">
                        @await Html.PartialAsync(@"../Comment/_LeaveClientCommentPartial", new ClientCommentViewModel { EstablishmentId = Model.Id, Page=Model.PagingModel.CurrPage })
                    </div>
                    <div class="cards-block" id="client-comment-display">
                        <div class="cards-container">
                            @foreach (var item in Model.ClientComments)
                            {
                                @await Html.PartialAsync(@"../Comment/_ClientCommentPartial", item)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.PagingModel.Pages > 0)
    {
        <div style="background-color:grey">
            @await Html.PartialAsync("_PagingPartial", @Model.PagingModel)
        </div>
    }
</section>

