﻿
    <table class="admin-menu" style="width:100%">
        <tr>
            <td style="padding-left:6.5rem">
                <span class="input-group-btn" >
                    <a asp-area="Admin" asp-controller="Home" asp-action="Seed" class="btn btn-white-outline" style="width:200px;border-radius:50px;background-color:#2e2e2e">Seed Database</a>
                </span>
            </td>
        </tr>
    </table>
