﻿@model CustomErrorViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/assets/web/assets/mobirise-icons/mobirise-icons.css">
<link rel="stylesheet" href="~/css/assets/tether/tether.min.css">
<link rel="stylesheet" href="~/css/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/assets/bootstrap/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="~/css/assets/mobirise/css/mbr-additional.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
<link rel="stylesheet" href="~/css/errorStyles.css" />
<body class="loading">

    <h1 style="opacity:1">@Model.ExceptionCode</h1>
    <h2 style="opacity:1">@Model.ExceptionMessage <b>:(</b></h2>
    <h2 style="opacity:1">
        <a class="btn btn-black-outline" href="previous.html" onClick="history.back();return false;">Go back</a>
    </h2>
        <div class="gears">
            <div class="gear one">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear two">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear three">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</body>

