﻿@model ManagerCommentViewModel
@{
    ViewData["Title"] = "_EditCommentPartialView";
}

@using (Html.BeginForm("EditManegerComment", "Logbook", FormMethod.Post))
{
    <td style="max-width:580px">
        <textarea class="form-control" name="newCommentText" rows="3" cols="60" style="text-align:justify;background-color:lavender">@Model.Text </textarea>
        <input name="commentId" value="@Model.Id" hidden />
        <input name="LogbookId" value="@Model.LogbookId" hidden />
    </td>
    <td style="width:65px">

        @Model.IsDone
    </td>
    <td style="width:65px;text-align:right;vertical-align:middle">
        <button class="btn btn-primary" type="submit" style="width:60px">Ok</button>
    </td>
}

<h2>_EditCommentPartialView</h2>

