﻿@model AllEstablishmentsViewModels
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="mbr-gallery mbr-slider-carousel cid-rriDTjL3TD" id="gallery1-5">
    <div class="container">
        <div>
            <!-- Filter --><!-- Gallery -->
            <div class="mbr-gallery-row">
                <div class="mbr-gallery-layout-default">
                    <div>
                        <div>
                            @foreach (var item in Model.establishmentViewModels)
                            {
                                <div class="mbr-gallery-item mbr-gallery-item--p1" data-video-url="false" data-tags="Awesome">

                                    <div data-slide-to="0" data-toggle="modal">
                                        <a href=@(Model.Href+item.Id)>
                                            <img src=@item.Image alt="" title="">
                                            <span class="icon-focus"></span>
                                            <span class="mbr-gallery-title mbr-fonts-style display-7">
                                                <span style="font-weight:500;font-size:1.2rem">@item.Name</span>
                                                <br />
                                                <span>@item.Kind, </span>
                                                <span>@item.City</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.PagingModel.Pages > 0)
    {
    <div style="background-color:grey">
        @await Html.PartialAsync("_PagingPartial", @Model.PagingModel)
    </div>
    }
    else
    {
        <h2>No items to show</h2>
    }
</section>