﻿
@using Microsoft.AspNetCore.Identity
@using RestaurantService.Models

@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />*@

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.10.1, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="manifest" href="~/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="">

    <title>@ViewData["Title"] - RestaurantService</title>

    <environment include="Development">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

        <link rel="stylesheet" href="~/css/assets/web/assets/mobirise-icons/mobirise-icons.css">
        <link rel="stylesheet" href="~/css/assets/tether/tether.min.css">
        <link rel="stylesheet" href="~/css/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/assets/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="~/css/assets/bootstrap/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="~/css/assets/dropdown/css/style.css">
        <link rel="stylesheet" href="~/css/assets/socicon/css/styles.css">
        <link rel="stylesheet" href="~/css/assets/theme/css/style.css">
        <link rel="stylesheet" href="~/css/assets/gallery/style.css">
        <link rel="stylesheet" href="~/css/assets/mobirise/css/mbr-additional.css" type="text/css">
        <link rel="stylesheet" href="~/css/custom.css" />
        <link rel="stylesheet" href="~/urbanFont/stylesheet.css" />
        


    </environment>
    <environment exclude="Development">
        @*multiselect*@
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
        <link rel="stylesheet" href="~/css/assets/web/assets/mobirise-icons/mobirise-icons.css">
        <link rel="stylesheet" href="~/css/assets/tether/tether.min.css">
        <link rel="stylesheet" href="~/css/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/assets/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="~/css/assets/bootstrap/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="~/css/assets/dropdown/css/style.css">
        <link rel="stylesheet" href="~/css/assets/socicon/css/styles.css">
        <link rel="stylesheet" href="~/css/assets/theme/css/style.css">
        <link rel="stylesheet" href="~/css/assets/gallery/style.css">
        <link rel="stylesheet" href="~/css/assets/mobirise/css/mbr-additional.css" type="text/css">
        <link rel="stylesheet" href="~/css/custom.css" />
        <link rel="stylesheet" href="~/urbanFont/stylesheet.css" />
        

    </environment>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/multiselect.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body id="body-1">
    <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">

        <section id='bigbox'>
            <div class="menu-logo">
                <div class="navbar-brand" style="display:block;">
                    <div class="navbar-logo">
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="/Admin/Home/Index/">
                                <img src="~/images/logo.png" style="height: 4.8rem;">
                            </a>
                        }
                        else
                        {
                            <a href="/">
                                <img src="~/images/logo.png" style="height: 4.8rem;">
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="welcome">Just Say It!</div>
            <div id='box-3' style="font-size:1.5em;padding-right:2rem;display:inline-block;margin-bottom:1rem">
                <span class="login">
                    @await Html.PartialAsync("_LoginPartial")
                </span>
            </div>
            @if (User.IsInRole("Admin") && ViewBag.MenuBar == "AdminMenu")
            {
                <nav class="nav">
                    <ul class="nav-list" id='search-list' style="list-style-type:none; opacity:0">
                        <li class="nav-item">
                            @await Html.PartialAsync(@"_AdminMenuPartial")
                        </li>
                    </ul>
                </nav>
            }
            @if (ViewBag.MenuBar == "SearchEsrablishment")
            {
                <nav class="nav">
                    <ul class="nav-list" id='search-list' style="list-style-type:none; opacity:0">
                        <li class="nav-item">
                            @await Html.PartialAsync("_SearchPartial", new SearchViewModel())
                        </li>
                    </ul>
                </nav>
            }
            @if (ViewBag.MenuBar == "SerchComments")
            {
                <nav class="nav">
                    <ul class="nav-list" id='search-list' style="list-style-type:none; opacity:0">
                        <li class="nav-item">
                            @await Html.PartialAsync("_SearchOfCommentsPartial", new LogbookViewModel ())
                        </li>
                    </ul>
                </nav>
            }
        </section>
    </section>
    <div id="theBody">
        @RenderBody()
    </div>

    <section class="cid-qTkAaeaxX5" id="footer1-2">
        <div class="container">
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-3">
                    <div class="media-wrap">
                        <a href=#>
                            <img src="/images/logo.png" style="height:4.8rem;">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Address
                    </h5>
                    <p class="mbr-text">
                        Telerik
                        <br>Sofia
                    </p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Contacts
                    </h5>
                    <p class="mbr-text">
                        Email: teamtiriram@gmail.com
                        <br>Phone: +1 (0) 000 0000 001
                        <br>Fax: +1 (0) 000 0000 002
                    </p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Links
                    </h5>
                    <p class="mbr-text">
                        <a class="text-primary" href=#>Website builder</a>
                        <br><a class="text-primary" href=#>Download for Windows</a>
                        <br><a class="text-primary" href=#>Download for Mac</a>
                    </p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-sm-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7" style="color:gray">
                            © Copyright 2019 TeamTiRiRam - All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">
                                <a href=# target="_blank">
                                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href=# target="_blank">
                                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.youtube.com/channel/UCZA-T_y0db_sMphsexFTSUA?view_as=subscriber" target="_blank">
                                    <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href=# target="_blank">
                                    <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href=# target="_blank">
                                    <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href=# target="_blank">
                                    <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <environment include="Development">
        <script src="~/js/site.js"></script>
        <script src="~/css/assets/popper/popper.min.js"></script>
        <script src="~/css/assets/tether/tether.min.js"></script>
        <script src="~/css/assets/smoothscroll/smooth-scroll.js"></script>
        <script src="~/css/assets/dropdown/js/script.min.js"></script>
        <script src="~/css/assets/masonry/masonry.pkgd.min.js"></script>
        <script src="~/css/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="~/css/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
        <script src="~/css/assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
        <script src="~/css/assets/touchswipe/jquery.touch-swipe.min.js"></script>
        <script src="~/css/assets/theme/js/script.js"></script>
        <script src="~/css/assets/gallery/player.min.js"></script>
        <script src="~/css/assets/gallery/script.js"></script>
        <script src="~/css/assets/slidervideo/script.js"></script>


    </environment>
    <environment exclude="Development">
        <script src="~/js/site.js"></script>
        <script src="~/css/assets/popper/popper.min.js"></script>
        <script src="~/css/assets/tether/tether.min.js"></script>
        <script src="~/css/assets/smoothscroll/smooth-scroll.js"></script>
        <script src="~/css/assets/dropdown/js/script.min.js"></script>
        <script src="~/css/assets/masonry/masonry.pkgd.min.js"></script>
        <script src="~/css/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="~/css/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
        <script src="~/css/assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
        <script src="~/css/assets/touchswipe/jquery.touch-swipe.min.js"></script>
        <script src="~/css/assets/theme/js/script.js"></script>
        <script src="~/css/assets/gallery/player.min.js"></script>
        <script src="~/css/assets/gallery/script.js"></script>
        <script src="~/css/assets/slidervideo/script.js"></script>


    </environment>  
    @RenderSection("Scripts", required: false)
</body>
</html>
