@using Microsoft.AspNetCore.Identity
@using RestaurantService.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right" >
        <ul class="nav navbar-nav navbar-right" style="margin-top:0">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="btn btn-link navbar-btn navbar-link" style="display:inline-block;min-width:70px"><span class="glyphicon glyphicon-user"></span>Hello, @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" ><span class="glyphicon glyphicon-log-out"></span> Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right" >
        @*<li><a asp-area="" asp-controller="Account" asp-action="Register"style="padding:0.1rem .4rem"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>*@
        <li><a asp-area="" asp-controller="Account" asp-action="Login"style="padding:0.1rem 0.4rem"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
    </ul>
}
