﻿@model PagingViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="paging" style="width:100%;text-align:center">
    @if (Model.CurrPage > 1)
    {
        <span style="display:inline-block;width:10px">
            <a asp-area=@Model.Area asp-controller=@Model.Controller asp-action=@Model.Action asp-route-page=@(Model.CurrPage-1) formmethod="post"><</a>
        </span>
    }
    else
    {
        <span style="display:inline-block;width:10px"></span>
    }

    @if (Model.CurrPage < 4)
    {
        @for (int i = 1; i <= Math.Min(4, Model.Pages); i++)
        {
            if (i == Model.CurrPage)
            {
                <a asp-area=@Model.Area asp-controller=@Model.Controller asp-action=@Model.Action asp-route-page=@i formmethod="post"><b>@i </b></a>
            }
            else
            {
                <a asp-area=@Model.Area asp-controller=@Model.Controller asp-action=@Model.Action asp-route-page=@i formmethod="post">@i </a>
            }

        }
        @if (Model.Pages > 5)
        {
            <span>.....</span>
        }
    }

    @if (Model.CurrPage > 3 && Model.CurrPage <= Model.Pages)
    {
        <a asp-area=@Model.Area asp-controller=@Model.Controller asp-action=@Model.Action asp-route-page=1 formmethod="post">1 </a>
        @if (Model.Pages > 5)
        {
            <span>.....</span>
        }
        @if (Model.CurrPage > Model.Pages - 3 && Model.Pages > 5)
        {
            <span>.....</span>
        }
        @for (int i = Math.Max(2, Math.Min(Model.CurrPage - 1, Model.Pages - 3)); i <= Math.Min(Model.CurrPage + 1, Model.Pages); i++)
        {
            if (i == Model.CurrPage)
            {
                <a asp-area=@Model.Area asp-controller=@Model.Controller asp-action=@Model.Action asp-route-page=@i formmethod="post"><b>@i </b></a>
            }
            else
            {
                <a asp-area=@Model.Area asp-controller=@Model.Controller asp-action=@Model.Action asp-route-page=@i formmethod="post">@i </a>
            }
        }
    }

    @if (Model.CurrPage < Model.Pages - 2 && Model.Pages > 5)
    {
        <span>.....</span>
    }

    @if (Model.CurrPage < Model.Pages - 1 && Model.Pages > 4)
    {
        <a asp-area=@Model.Area asp-controller=@Model.Controller asp-action=@Model.Action asp-route-page=@Model.Pages formmethod="post">@Model.Pages </a>
    }

    @if (Model.CurrPage < Model.Pages)
    {
        <span style="display:inline-block;width:10px;text-align:right">
            <a asp-area=@Model.Area asp-controller=@Model.Controller asp-action=@Model.Action asp-route-page=@(Model.CurrPage+1) formmethod="post">></a>
        </span>
            }

    </div>