﻿@model LogbookViewModel
@{
    ViewData["Title"] = "_SearchOfCommentsPartial";
}
<form  id="managerCommnet-search" method="get">
    <table>
        <tr>
            <td>
                <div class="">
                    <select class="inputToSelect" id="multiple-checkboxes7" multiple="multiple" name="Categories" size=1>
                        @if (ViewBag.Categories != null)
                        {
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </td>
            <td>
                <div class="">
                    <select class="inputToSelect" id="multiple-checkboxes6" multiple="multiple" name="Managers" size=1>
                        @if (ViewBag.Managers != null)
                        {
                            @foreach (var item in ViewBag.Managers)
                            {
                                <option value=@item.Id>@item.UserName</option>
                            }
                        }
                    </select>
                </div>
            </td>
            <td>
                <div class="">
                    <input class="inputToSelect" name="FromDate" type="date" />
                </div>
            </td>
            <td>
                <div class="">
                    <input class="inputToSelect" name="ToDate" type="date" />
                </div>
            </td>
            <td>
                <input name="LogbookId" class="inputToSelect" type ="hidden" value=@ViewBag.LogbookId >
                <span class="input-group-btn" id="manager-search-submit-outer">
                    <input name="IsChanged" class="inputToSelect" type="hidden" value="changed" />
                    <button class="btn btn-default" type="submit" id="manager-search-submit"><span class="glyphicon glyphicon-search" id="client-search-submit-icon"></span></button>
                </span>
            </td>
        </tr>
    </table>
</form>



