﻿@model SearchViewModel
@inject IMemoryCache _cache;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

        <form  id="establishment-search" method="get">
            <table>
                <tr>
                    <td>
                        <div class="">
                            <select class="inputToSelect" id="multiple-checkboxes1" multiple="multiple" name="Kinds" size=1>
                                @if (ViewBag.Kinds != null)
                                {
                                    @foreach (var item in ViewBag.Kinds)
                                    {
                                            <option value=@item.Id>@item.Name</option>
                                        
                                    }
                                }
                                </select>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <select class="inputToSelect" id="multiple-checkboxes2" multiple="multiple" name="Towns" size=1>
                                @if (ViewBag.Cities != null)
                                {
                                    @foreach (var item in ViewBag.Cities)
                                    {

                                        <option value=@item.Id >@item.Name</option>
                                        
                                    }
                                }
                            </select>
                        </div>
                    </td>
                    <td>
                        <input name="Pattern" class="inputToSelect" id="search-pattern" type="text" placeholder=" Search..." />
                        <input name="IsChanged" class="inputToSelect"  type="hidden" value="changed" />
                        @*<input name="Action" class="inputToSelect" id="search-action" type="hidden" value=@Model.SearchAction />*@
                    </td>
                   
                    <td>
                        <span class="input-group-btn" id="client-search-submit-outer" >
                            <button class="btn btn-default" type="submit" id="client-search-submit"><span class="glyphicon glyphicon-search" id="client-search-submit-icon"></span></button>
                        </span>
                    </td>
                </tr>
            </table>
        </form>


