﻿@model ImageViewModel
@if (!string.IsNullOrEmpty(Model.Image))
{
    <img src=@Model.Image style="@Model.StyleClass" />
}
else
{
    @if (Model.ByteImage != null)
    {
        var base64 = Convert.ToBase64String(Model.ByteImage);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <img src="@imgSrc" style="@Model.StyleClass" />;
    }
    else
    {
        <img src=@Model.Default style="@Model.StyleClass" />
    }
}

<br />

