﻿@model CreateUserViewModel
@{
    ViewData["Title"] = "Create user";
}

<section class="mbr-section form1 cid-rrvJasU7AL" id="form1-9">


    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" style="background-color:lightgray">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    @if (Model.CreateOrUpdate == "update")
                    {
                        <span>UPDATE @Model.Role.ToUpper()</span>
                    }
                    else
                    {
                        <span>
                            CREATE USER
                        </span>
                    }
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div id="partial" class="media-container-column col-lg-8" style="background-color:lightgray">
                @await Html.PartialAsync("_UploadImagePartial", Model.ImageModel)
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid" style="background-color:lightgray">
                <form id="uploadForm" asp-area="" asp-controller="Input" asp-action="UploadImage" method="post" enctype="multipart/form-data" asp-accept="*.jpg" class="mbr-form form-with-styler" data-form-title="Mobirise Form">
                    <div class="dragArea row">
                        <div class="col-md-12">
                            <label for="NewImage">Upload Image</label>
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <input asp-for=@Model.ImageModel.FormImage class="form-control display-7" style="padding:7px" />
                                    </td>
                                    <td style="width:100px">
                                        <input type="submit"
                                               id="button" formmethod="post"
                                               class="btn btn-primary btn-form display-4"
                                               style="height:34px;
                                                width:100px;
                                                float:right"
                                               value="Upload" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </form>


                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="mbr-form form-with-styler" data-form-title="Mobirise Form">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="dragArea row">
                        <div class="col-md-6  form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for=@Model.UserName class="form-control display-7" value=@Model.UserName />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                            @*<span class="text-danger">@Model.UserNameMessage</span>*@
                        </div>
                        <div class="col-md-6  form-group">
                            <label asp-for="Email"></label>
                            <input asp-for=@Model.Email class="form-control display-7" value=@Model.Email />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            @*<span class="text-danger">@Model.EmailMessage</span>*@
                        </div>
                    </div>
                    @if (Model.CreateOrUpdate != "update")
                    {
                        <div class="dragArea row">
                            <div class="col-md-6  form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" value=@Model.Password />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                @*<span class="text-danger">@Model.PasswordMessage</span>*@
                            </div>
                            <div class="col-md-6  form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" value=@Model.ConfirmPassword />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                @*<span class="text-danger">@Model.ConfirmPasswordMessage</span>*@
                            </div>
                        </div>
                    }
                    @if (Model.CreateOrUpdate != "update")
                    {
                        <div class="form-group">
                            <label asp-for="Role" style="margin-right:20px"></label>
                            @foreach (var item in ViewBag.Roles)
                            {
                                <span class="radio" style="display:inline-block;margin-left:33px;">
                                    <input type="radio"
                                           name="role"
                                           value="@item"
                                           @if (item == "Manager") { <text> checked="checked" </text> } /> @item
                                    </span>
                                }
                        </div>
                    }
                    else
                    {
                        if (Model.Logbooks != null && Model.Logbooks.Count > 0)
                        {
                            <div class="col-md-12  form-group">

                                @foreach (var e in Model.Logbooks)
                                {
                                    <div>
                                        <table style="width:100%;border-bottom:1px solid white">
                                            <tr>
                                                <td>
                                                    <b><a href="/Admin/CreateEstablishment/Created/@e.Key.Item2" style="font-size:1.2rem;font-weight:500"> @e.Key.Item1:</a></b>
                                                </td>
                                                <td style="text-align:right">
                                                    @foreach (var l in e.Value)
                                                    {
                                                        <input type="checkbox" value=@l.Id name="LogbooksToLeave" checked="checked" style="vertical-align:text-bottom" class="existing-logbooks" />
                                                        <span><a href="/Admin/Logbook/UpdateLogbook/@l.Id">@l.Name </a> </span>
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                }
                            </div>
                        }

                    }

                    <div class="col-md-12 input-group-btn align-center" style="padding-bottom:20px">
                        @if (Model.CreateOrUpdate == "update")
                        {
                            <button type="submit" class="btn btn-primary btn-form display-4" asp-area="Admin" asp-controller="User" asp-action="UpdateUser" asp-route-name="@Model.UserName" formmethod="post">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary btn-form display-4" asp-area="Admin" asp-controller="User" asp-action="CreateUser" asp-route-name="@Model.UserName" formmethod="post">Create</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

