﻿@model UserViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}
<section class="mbr-section form1 cid-rrvJasU7AL" id="form1-9">


    <div class="container">
        <div class="row justify-content-center">
            <div style="text-align:center;font-style:normal">
                <br />
                <h2>@Model.UserName</h2>
                <div>
                    <img src=@Model.Avatar width="200" />
                </div>
                <div style="font-size:1.2rem;font-weight:500">
                    @Model.Role
                </div>
                <br />
                <div style="align-items:center;width:100%">
                    <div style="text-align:left">
                        @if (Model.Logbooks != null && Model.Logbooks.Count > 0)
                        {

                            @foreach (var e in Model.Logbooks)
                            {
                                <table style="width:100%;border-bottom:1px solid white">
                                    <tr>
                                        <td >
                                            <b><a href="/Admin/CreateEstablishment/Created/@e.Key.Item2" style="font-size:1.2rem;font-weight:500"> @e.Key.Item1:</a></b>
                                        </td>
                                        <td style="text-align:right;">
                                            @foreach (var l in e.Value)
                                            {
                                                <span><a href="/Admin/Logbook/UpdateLogbook/@l.Id">[@l.Name]</a></span>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            }
                        }
                    </div>
                </div>
                <br />
                <p>
                    @if (Model.AdminId == UserManager.GetUserId(User))
                    {
                        <a class="btn btn-primary" role="button" style="font-size:14px" asp-area="Admin" asp-controller="User" asp-action="UpdateUser" asp-route-id="@Model.Id">Update User</a>
                    }
                </p>
            </div>

        </div>
    </div>
</section>
