﻿@model LogbookViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "_ShowCommentsPartial";
}
<section class="step1 cid-rrFqsRr9iF" id="step1-c">
    <div class="container" style="max-width:800px">
        <div id="show-comments">
            @if (Model.commentsViewModels != null && Model.commentsViewModels.Count > 0)
            {
                @foreach (var comment in Model.commentsViewModels)
                {

                    <div class="step-container comment-box" style="">
                        <div class="dragArea row" style="margin-left:0px;margin-right:10px;margin-top:5px">
                            <div class="col-md-3">
                                <div class="row">

                                    <img src="@comment.AuthorAvatar" style="width:50px;height:50px;border-radius:50%;border:3px solid #cacaca;margin-bottom:7px" />
                                    <div style="margin-left:5px">
                                        <div>
                                            <a href=@($"/Manager/Logbook/ManagerCommentsOfManager/{comment.AuthorId}/{Model.Id}/1") class="mbr-step-title pb-3 mbr-fonts-style display-5" style="font-size:2rem;color:#149dcc">
                                                @comment.AutorName
                                            </a>
                                        </div>
                                        <h4>
                                            @comment.DateCreated.ToString("dd.MM.yyyy[HH:mm]")
                                        </h4>
                                        @*<h4 style="padding-bottom:3px">
                                                [@comment.DateCreated.ToString("HH:mm")]
                                            </h4>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">

                                    <form style="font-size:1.2rem;">
                                        <input type="hidden" class="comment-id" name="CommentId" value="@comment.Id">
                                        @if (comment.IsDone == true)
                                        {
                                            <span style="padding-left:20px">
                                                <input type="checkbox" class="form-check-input" name="state" checked="checked">
                                            </span>

                                        }
                                        else
                                        {
                                            <span style="padding-left:20px">
                                                <input type="checkbox" class="form-check-input" name="state">
                                            </span>

                                        }
                                    </form>
                                    <h4 style="vertical-align:top;padding-left:20px;color:grey;font-weight:700">Is Done</h4>
                                </div>
                                @if (comment.Categories != null && comment.Categories.Count > 0)
                                {
                                    <div>
                                        @foreach (var category in comment.Categories)
                                        {
                                            <span>
                                                <a href=@($"/Manager/Logbook/CategoryComments/{comment.LogbookId}/{category.Id}/1") class="display-5">
                                                    [@category.Name]
                                                </a>
                                            </span>
                                        }
                                    </div>
                                }
                                <table style="width:100%">
                                    <tr>
                                        @if (comment.ByteImage != null)
                                        {
                                            <td style="vertical-align:top!important;padding:5px;padding-left:0">
                                                <div class="comment-to-send" style="">
                                                    <p class="mbr-step-text mbr-fonts-style display-7" style="font-size:1.2rem">
                                                        @comment.Text
                                                    </p>
                                                </div>
                                            </td>
                                            <td style="width:150px !important ;vertical-align:top!important;padding-top:5px">

                                                @{
                                                    var base64 = Convert.ToBase64String(comment.ByteImage);
                                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                                    <a href="/Manager/Logbook/DisplayImage/@comment.Id">
                                                        <img src="@imgSrc" class="comment-image" />
                                                    </a>
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="width:100%!important;vertical-align:top!important;" colspan="2">
                                                <div class="comment-to-send" style="">
                                                    <p class="mbr-step-text mbr-fonts-style display-7" style="font-size:1.2rem">
                                                        @comment.Text
                                                    </p>
                                                </div>
                                            </td>

                                        }
                                    </tr>
                                    <tr style="word-break:unset;width:100%">
                                        <td>
                                            <form>
                                                <div class="btn-group">
                                                    <select class="user-multiselect" multiple="multiple" name="Categories" style="word-break:unset" size=1>
                                                        @if (ViewBag.Categories != null)
                                                        {
                                                            @foreach (var item in ViewBag.Categories)
                                                            {
                                                                if (comment.Categories != null && comment.Categories.Any(c => c.Name == item.Name))
                                                                {
                                                                    <option selected="selected" value=@item.Id>@item.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value=@item.Id>@item.Name</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <input type="hidden" name="filter" value="@Model.FilterId">
                                                    <input type="hidden" name="currAction" value="@Model.PagingModel.Action">
                                                    <input type="hidden" name="page" value="@Model.PagingModel.CurrPage">
                                                    <input type="hidden" name="CommentId" value="@comment.Id">
                                                    <button asp-route-id="@Model.Id" asp-area="Manager" asp-controller="Logbook" asp-action="EditCategories" id="" class="btn" type="submit" style="width:60px;margin-left: 1px">Submit</button>
                                                </div>
                                            </form>
                                        </td>
                                        <td style="text-align:right;width:calc(100%-150px)">
                                            @if (UserManager.GetUserId(User) == comment.AuthorId && Model.PagingModel?.Action == "Details")
                                            {
                                                @if (comment.ByteImage == null)
                                                {
                                                    <div>
                                                        <button class="btn btn-primary edit-comment-button" type="submit" style="width:60px">Edit</button>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="btn-group">
                                                        <form>
                                                            <button asp-route-commentId="@comment.Id" asp-route-id="@Model.Id" asp-area="Manager" asp-controller="Logbook" asp-action="DeleteImage" class="btn btn-primary edit-comment-button1" type="submit" style="width:90px;margin-right:3px;margin-left:2px">Delete img</button>
                                                        </form>
                                                        <button class="btn btn-primary edit-comment-button" type="submit" style="width:60px">Edit</button>
                                                    </div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </table>
                                <div class="comment-edit-form">
                                    @using (Html.BeginForm("EditManegerComment", "Logbook", FormMethod.Post))
                                    {
                                        <table style="width:100%">
                                            <tr>
                                                <td colspan="2">
                                                    <textarea class="form-control" name="newCommentText" rows="3" cols="60" style="text-align:justify;background-color:lavender">@comment.Text </textarea>
                                                    <input name="commentId" value="@comment.Id" hidden />
                                                    <input name="LogbookId" value="@Model.Id" hidden />
                                                </td>
                                            </tr>
                                            <tr>
                                                @*<td style="word-break:unset">
                                                        <div class="btn-group">
                                                            <select class="user-multiselect" multiple="multiple" name="Categories" style="word-break:unset" size=1>
                                                                @if (ViewBag.Categories != null)
                                                                {
                                                                    @foreach (var item in ViewBag.Categories)
                                                                    {
                                                                        if (comment.Categories != null && comment.Categories.Any(c => c.Name == item.Name))
                                                                        {
                                                                            <option selected="selected" value=@item.Id>@item.Name</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value=@item.Id>@item.Name</option>
                                                                        }
                                                                    }
                                                                }
                                                            </select>
                                                            <input type="hidden" name="CommentId" value="@comment.Id">
                                                           
                                                        </div>
                                                </td>*@
                                                <td style="width:65px;text-align:right;vertical-align:middle">
                                                    <input type="hidden" name="page" value="@Model.PagingModel.CurrPage">
                                                    <button class="btn btn-primary" type="submit" style="width:60px">Ok</button>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
    
    <div style="background-color:grey">
       
        @await Html.PartialAsync("_PagingPartial", @Model.PagingModel)
    </div>
</section>

