﻿@model LogbookViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}


<section class="step1 cid-rrFqsRr9iF" id="step1-c">
    <div class="container" style="max-width:800px">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">
            @Model.Name Comments
        </h2>
        <div style="background-color:grey;padding:5px;border-radius:4px">
            <table style="width:100%">
                <tr>
                    <td>
                        <p><b>Add comment</b></p>
                    </td>
                    <td style="width:200px">
                        <p><b>Add image</b></p>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top!important;width:calc(100%-200px);padding-right:2px">
                        @using (Html.BeginForm("AddManagerComment", "Logbook", FormMethod.Post))
                        {
                            <table style="width:100%;height:100%">
                                <tr style="vertical-align:top!important;width:100%">
                                    <td colspan="3" style="vertical-align:top!important">
                                        <textarea class="form-control" id="text" name="commentText" rows="7" rowspann="2" style="width:100%;"> </textarea>
                                        <input type="hidden" id="LogbookId" name="logbookId" value="@Model.Id">
                                    </td>
                                </tr>
                                <tr style="vertical-align:bottom">
                                    <td style="width:90px;text-align:center;vertical-align:middle">
                                        <select class="user-multiselect" multiple="multiple" name="Categories" style="word-break:unset" size=1>
                                            @if (ViewBag.Categories != null)
                                            {
                                                @foreach (var item in ViewBag.Categories)
                                                {
                                                    <option value=@item.Id>@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td style="width:50px;text-align:left;vertical-align:bottom">
                                        <button type="submit" class="btn btn-primary" id="AddComment" style="width:50px">Add</button>
                                    </td>
                                    <td class="text-danger" style="text-align:left;padding-left:10px"></td>
                                </tr>
                            </table>
                        }

                    </td>
                    <td style="vertical-align:top!important">
                        @*</div>
                            </div>

                            <div class="media-block m-auto" style="width: 49% "id="manager-comment-image">
                                <div class="mbr-figure">*@
                        <div class="container">
                            <div class="row justify-content-center">

                                <form id="uploadForm"
                                      asp-area=""
                                      asp-controller="Input"
                                      asp-action="UploadImage"
                                      method="post"
                                      enctype="multipart/form-data"
                                      asp-accept="*.jpg" class="mbr-form form-with-styler" data-form-title="Mobirise Form">
                                    <div class="row justify-content-center" style="vertical-align:top">
                                        <div class="col-md-12">

                                            <table style="width:200px">
                                                <tr>
                                                    <td style="height:34px">
                                                        <input asp-for=@Model.ImageModel.FormImage
                                                               class="form-control display-7"
                                                               style="color: white" />
                                                    </td>
                                                    <td style="height:34px">
                                                        <input type="submit"
                                                               formmethod="post"
                                                               class="btn  btn-form display-4"
                                                               style="width:93px;
                                                            margin-left:-100px;
                                                            background-color:lightgrey;
                                                            border-radius:4px;
                                                            vertical-align:baseline;"
                                                               value="Upload" />
                                                    </td>
                                                </tr>
                                                <tr style="vertical-align:top;margin-top:0;padding-top:0">
                                                    <td style="width:100%;text-align:center">
                                                        <div id="partial" class="container" style="width:100%;align-items:center">
                                                            @await Html.PartialAsync("_UploadImagePartial", Model.ImageModel)
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>

                </tr>
            </table>
        </div>

        @*</div>
                </div>
            </div>*@


    </div>
</section>
@if (Model.commentsViewModels != null && Model.commentsViewModels.Count > 0)
{
    <div>
        @await Html.PartialAsync("_ShowCommentsPartial", @Model)
    </div>
}
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/comments.js"></script>




