﻿@model ManagerCommentViewModel

@{
    ViewData["Title"] = "DisplayImage";
}


<section >


    <div class="container">
        <div class="justify-content-center"style="text-align:center">
            @{
                var base64 = Convert.ToBase64String(Model.ByteImage);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <img src="@imgSrc" style="width:90%;max-width:600px" />
            }
                <div>
                    <p  style="text-align:center;font-size:1.2rem;font-weight:600">@Model.Text</p>
                </div>
                <div>
                    <p >
                        <a class="btn btn-black-outline" href="previous.html" onClick="history.back();return false;">Go back</a>
                    </p>
                </div>
            </div>
        </div>
</section>

