﻿@model LogbookViewModel
@{
    ViewData["Title"] = "ManagerComments";
}
<section class="step1 cid-rrFqsRr9iF" id="step1-c">
    <div class="container" style="max-width:800px">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">
            <a href="/Logbook/Details/@Model.Id">
                @Model.Name Comments
                </a>
        </h2>
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2"> Comments by @Model.FilterName</h2>
    </div>
</section>
<div>
    @await Html.PartialAsync("_ShowCommentsPartial", @Model)
</div>