﻿@model AllManagerCommentsViewModel
@{
    ViewData["Title"] = "ManagerComments";
}

@if (Model.managerCommentViewModels != null)
{
    <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">
        Comments of @Model.managerCommentViewModels.First().AutorName
    </h2>
}


<div style="margin:20px">
    @foreach (var comment in Model.managerCommentViewModels)
    {
        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-text-content" style="">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5" style="font-size:2rem;color:#149dcc">
                            @comment.AutorName
                        </h4>
                        <div style=" background-color:honeydew;width:80vw; display:block;border-radius:10px;padding-left:10px;padding-right:10px;padding-bottom:1px;padding-top:10px">
                            <p class="mbr-step-text mbr-fonts-style display-7" style="font-size:2rem;max-width:800px">
                                @comment.Text
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


