﻿@model CreateEstablishmentViewModel

<div class="row" style="clear:left">
    

        @for (int i = 0; i < Model.LogbookViewModels.Count; i++)

        {<span style="clear:right;padding:20px">

         @await Html.PartialAsync("_CreateLogbook", @Model.LogbookViewModels[i] as CreateLogbookViewModel)
</span>
    }


</div>