﻿@model CreateLogbookViewModel
<div style="background-color:white;text-align:center;padding:4px;border-radius:4px">
    <label asp-for="Managers">@Model.Name</label>
    <div style="display:block;clear:left" class="parent" >
        <select class="user-multiselect" multiple="multiple" id=@Model.Name name="Managers" size=3  style="width:90px">
            @if (ViewBag.Managers != null)
            {
                @foreach (var user in ViewBag.Managers)
                {
                    <option value=@user.Id>@user.UserName</option>
                }
            }
        </select>
    </div>
</div>

