﻿@model CreateEstablishmentViewModel
@{
    ViewData["Title"] = "CreateEstablishment";
}

<section class="mbr-section form1 cid-rrvJasU7AL" id="form1-9">


    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" style="background-color:lightgray">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    @if (Model.CreateOrUpdate == "update")
                    {
                        <span> UPDATE ESTABLISHMENT</span>
                    }
                    else
                    {
                        <span> CREATE ESTABLISHMENT</span>
                    }
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div id="partial" class="media-container-column col-lg-8" style="background-color:lightgray">
                @await Html.PartialAsync("_UploadImagePartial", Model.ImageModel)
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid" style="background-color:lightgray">
                <form id="uploadForm"
                      asp-area=""
                      asp-controller="Input"
                      asp-action="UploadImage"
                      method="post"
                      enctype="multipart/form-data"
                      asp-accept="*.jpg" class="mbr-form form-with-styler" data-form-title="Mobirise Form">
                    <div class="dragArea row">
                        <div class="col-md-12">
                            <label for="NewImage">Upload Image</label>
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <input asp-for=@Model.ImageModel.FormImage
                                               class="form-control display-7"
                                               style="padding:7px" />
                                    </td>
                                    <td style="width:100px">
                                        <input type="submit"
                                               id="button" formmethod="post"
                                               class="btn btn-primary btn-form display-4"
                                               style="height:34px;
                                                width:100px;
                                                float:right"
                                               value="Upload" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>

                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="create-establishment-form">
                    @if (!string.IsNullOrEmpty(Model.CreateOrUpdate))
                    {
                        <input asp-for=@Model.CreateOrUpdate type="hidden" value=@Model.CreateOrUpdate id="create-update" />
                    }
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="dragArea row">
                        <div class="col-md-8  form-group">
                            <label asp-for="Name"></label>
                            <input asp-for=@Model.Name class="form-control" value=@Model.Name id="establishment-name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-4  form-group">
                            <label asp-for="Kind"></label>
                            <div>
                                <select class="multiselect" id="multiple-checkboxes3" name="Kind" size=1>
                                    @if (ViewBag.Kinds != null)
                                    {
                                        @foreach (var item in ViewBag.Kinds)
                                        {
                                            @if (item.Name == Model.Kind)
                                            {
                                                <option value=@item.Name selected="selected">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value=@item.Name>@item.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md-4  form-group">
                            <label asp-for="City"></label>
                            <div>
                                <select class="multiselect" id="multiple-checkboxes5" name="City" size=1 style="width:100%;background-color:white">
                                    @if (ViewBag.Towns != null)
                                    {
                                        @foreach (var item in ViewBag.Towns)
                                        {
                                            @if (item.Name == Model.City)
                                            {
                                                <option value=@item.Name selected="selected">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value=@item.Name>@item.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-md-8  form-group">
                            <label asp-for="Street"></label>
                            <input asp-for=@Model.Street class="form-control" value=@Model.Street id="establishment-street" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>

                    </div>
                    @if (Model.LogbookViewModels != null && Model.LogbookViewModels.Count > 0)
                    {
                        <div class="dragArea row">
                            <div class="col-md-12  form-group">
                                <label>Existing Logbooks</label>

                                <div>
                                    @foreach (var l in Model.LogbookViewModels)
                                    {
                                    <span style="display:inline-block" id="existing-logbooks">
                                        <input type="checkbox" value=@l.Id checked="checked" style="font-size:1.5rem;vertical-align:text-bottom" class="existing-logbooks" />
                                        <a href="/Admin/Logbook/UpdateLogbook/@l.Id" style="font-size:1.5rem;">
                                            <b>
                                                @l.Name
                                            </b>
                                        </a>
                                        &nbsp
                                    </span>
                                        @if (l.EntityUsers != null)
                                        {
                                            foreach (var m in l.EntityUsers)
                                            {
                                            <span>
                                                <a href="/Admin/User/Details/@m.Id">
                                                    [@m.UserName]
                                                </a>
                                            </span>

                                            }
                                        <span>
                                            &nbsp
                                        </span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    <div class="dragArea row">
                        <div class="col-md-12  form-group">
                            <label asp-for="LogbookNames">Logbooks (separated by commas)</label>
                            <table style="width:100%">
                                <tr>
                                    <td id="add-managers-data-to-send">
                                        <input asp-for=@Model.LogbookNames class="form-control inputToSelect" id="logbooks-to-send" style="width:100%" />
                                    </td>
                                    <td style="width:100px">
                                        <button type="button"
                                                class="btn btn-primary btn-form display-4"
                                                id="add-managers-button"
                                                style="height:34px;
                                                margin:0;
                                                width:100px;
                                                float:right">
                                            Managers
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <span asp-validation-for="LogbookNames" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="add-managers-div">
                    </div>
                    @if (Model.DeletedLogbookViewModels != null && Model.DeletedLogbookViewModels.Count > 0)
                    {
                        <div class="dragArea row">
                            <div class="col-md-12  form-group">
                                <label>Undelete Logbooks</label>

                                <div>
                                    @foreach (var l in Model.DeletedLogbookViewModels)
                                    {
                                    <span style="display:inline-block" id="existing-logbooks">
                                        <input type="checkbox" value=@l.Id style="font-size:1.5rem;vertical-align:text-bottom" class="deleted-logbooks" />
                                        <a href="/Admin/Logbook/UpdateLogbook/@l.Id" style="font-size:1.5rem;">
                                            <b>
                                                @l.Name
                                            </b>
                                        </a>
                                        &nbsp
                                    </span>
                                        if (l.EntityUsers != null)
                                        {
                                            foreach (var m in l.EntityUsers)
                                            {
                                            <span>
                                                <a href="/Admin/User/Details/@m.Id">
                                                    [@m.UserName]
                                                </a>
                                            </span>

                                            }
                                        <span>
                                            &nbsp
                                        </span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-12 input-group-btn align-center" style="padding-bottom:20px;width:100%">
                        <button type="submit"
                                class="btn btn-primary btn-form display-4"
                                id="create-establishment-button"
                                asp-area="Admin" asp-controller="CreateEstablishment"
                                asp-action="CreateEstablishment"
                                asp-route-id="@Model.Id" formmethod="post"
                                style="border-radius: 100px !important;
                                        padding: 1rem 3rem;
                                        margin: 2rem 0 .4rem 0;">
                            @if (Model.CreateOrUpdate != "update")
                            {
                                <span>Create</span>
                            }
                            else
                            {
                                <span>Update</span>
                            }
                        </button>

                    </div>
                </form>
                </div>
        </div>
    </div>
</section>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

