﻿@model EstablishmentDetailsViewModel
@{
    ViewData["Title"] = "Created";
}
<section class="counters4 counters cid-rs4JAnmSGS" style="margin-top:-5px">
    <div class="container pt-4 mt-2"  >
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">@Model.Name</h2>
        <h3 class="mbr-section-subtitle pb-5 align-center mbr-fonts-style display-5">
            @Model.City, @Model.Street
        </h3>
        <div class="media-container-row">
            <div class="media-block m-auto" style="width: 49%;">
                <div class="mbr-figure">
                    <img src=@Model.Image>
                </div>
            </div>
            <div class="media-container-column">
                @foreach (var lb in Model.Logbooks)
                {
                    <div class="cards-block">
                        <div class="cards-container">
                            <div class="card px-3 align-left col-12">
                                <div class="panel-item p-1 d-flex align-items-start" style="margin:1.2rem 0">
                                    <div class="card-img pr-3">
                                        <h3 class="img-text d-flex "
                                            style="width:100px;text-align:left">
                                            @lb.Name
                                        </h3>
                                    </div>
                                    <div class="card-text" style="width:100px">
                                        @if (lb.EntityUsers != null && lb.EntityUsers.Count > 0)
                                        {
                                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Managers</h4>
                                            <p class="mbr-content-text mbr-fonts-style display-7">
                                                @foreach (var m in lb.EntityUsers)
                                                {
                                                    <span>
                                                        <a href="/Admin/User/Details/@m.Id">
                                                            [@m.UserName]
                                                        </a>
                                                    </span>
                                                }

                                            </p>
                                        }
                                        else
                                        {
                                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">No managers</h4>
                                        }
                                    </div>
                                    <div class="card-text" style="width:100px;text-align:right">
                                        <a href="/Admin/Logbook/UpdateLogbook/@lb.Id"
                                           class="btn btn-primary-outline btn-form display-4"
                                                style="border-radius: 50px !important;
                                                padding: 1rem 3rem;
                                                margin: 0;">
                                                Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="card-text" >
                    <a href="/Admin/CreateEstablishment/UpdateEstablishment/@Model.Id">
                        <button
                            class="btn btn-primary btn-form display-4"
                            style="border-radius: 50px !important;
                            padding: 1rem 3rem;
                            margin: 0;
                            margin-bottom:20px;
                            width:100%">
                            Edit Establishment
                        </button>
                    </a>
                </div>
            </div>
        </div>
        </div>
</section>
